/* Reset de estilos básicos */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s ease;
}

header a:hover {
    background: #555;
}

/* Estilo para a página principal (index) */
main {
    padding: 2rem;
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.product-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    width: 250px;
    text-align: left;
}

.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-card .info {
    padding: 1rem;
}

.product-card .info h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.product-card .info p {
    color: #666;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo para a página de consulta de produtos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table th, table td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
}

table img {
    max-width: 100px;
    height: auto;
    border-radius: 4px;
}
/* Botão de editar */
.btn-edit {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.875rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-edit:hover {
    background-color: #a8aeb4;
    transform: scale(1.05);
}